<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Simple ToDo</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/rnh5vsq.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav id="navbar"><h2 id="appTitle">The Simple To-Do List</h2><img id="logo" class="navlink navicon" src="/assets/img/favicon.png" alt="logo"/>
    <div class="navlink"><img class="navicon" id="color" src="/assets/img/palette.png" alt="palette"/></div>
    <div class="navlink"><a id="logoutbutton" href="/logout">Log out</a></div>
    <div class="navlink"><a id="listButton" href="/#">My ToDos</a></div>
    <div class="navlink"><a id="addButton" href="/#">Add</a></div>
  </nav>
  <button id="sort">SORT</button>
  <button id="subscribe">SUBSCRIBE</button>
  <section id="todos">
  </section>
  <div id="todoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>